body{
  font-family:cursive;
  background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}


.color-container{
  display: flex;
  flex-direction: column;
  align-items: center;
background: rgba(255,255,255,0.2);
  padding: 30px;
  border-radius: 20px;


}

.color-container h1{
  font-size: 50px;
  text-decoration: underline;
  color:blue;
  text-transform: uppercase;
}
.color-display{
  height: 250px;
  width: 250px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
    text-transform: uppercase;
    font-weight: bolder;
margin-bottom: 25px;
border: 5px solid hsl(0,0%,80%);
}

.color-display p{
  color: hsl(0,0%,20%);
}

label{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type='color']{
  width:60px;
  height:50px;
  padding:5px;
  border-radius: 10px;
border:3px solid hsl(0,0%,80%);
cursor:pointer;

}